<nav class="navbar navbar-custom navbar-expand-lg navbar-fixed-top navbar-dark bg-dark" role="navigation">
    <div class="container">

        <a class="navbar-brand page-scroll" href="/">
            <img width="60" height="auto" src="/assets/images/robot.png" alt="robot logo">
        </a>

        <a class="navbar-brand mr-auto" href="/">
            Robonaut
        </a>

    </div>
</nav>