<nav class="navbar navbar-custom navbar-expand-lg navbar-fixed-top navbar-dark bg-dark" role="navigation">
    <div class="container">

        <a class="navbar-brand page-scroll" href="/">
            <img width="60" height="auto" src="/assets/images/robot.png" alt="robot logo">
        </a>

        <a class="navbar-brand mr-auto" href="/">
            Robonaut
        </a>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/users/login" class="page-scroll nav-link">Login</a>
                </li class="nav-item">

                <li class="nav-item">
                    <a href="/users/register" class="page-scroll nav-link">Register</a>
                </li>

            </ul>
        </div>
    </div>
</nav>