{{> nav }}
{{> login}}

<h1 class="text-center">Robot Control</h1>
<div class="text-center" id="canvasContainer">
    <canvas id="robotCanvas" width="750" height="450"></canvas>
</div>
<section class="text-center" id="controlPanel">
    <h2>Controls</h2>

    <button class="btn btn-dark">Up</button>
    <button class="btn btn-dark">Down</button>
    <button class="btn btn-dark">Left</button>
    <button class="btn btn-dark">Right</button>
</section>

{{> footer }}
