body {
    /* background-color: black; */
    height: 100%;
    background:url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2FTZf4ZyXb0lXXi%2Fgiphy.gif%3Fcid%3D6104955e5c2ed0d27253484d6b3128a2") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: white;
}

main, #registration-container {
    font-family: space;
}

@font-face {
    font-family: space;
    src: url("../fonts/space\ age.ttf");
}

#controlPanel {
    background-color: grey;
}

#control-logo {
    font-size: 1.2em;
}

.direction-btn {
    border-radius: 100%;
}

#robotCanvas {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 2px solid white;
}

form.user-form {
    border: 3px double #cccccc;
    border-radius: 2%;
    background-color: white;
    opacity: .87
}

#terms-container {
    font-size: 8px;
    font-family: "Arial"
}
