{{> empty-nav }}

<h1 class="">Log In to Your Account</h1><br>
<form class="login">
	<div id="username-form" class="form-group col-lg-12">
		<label>Username</label>
		<input id="login-username" type="text" name="user" placeholder="Username">
		<small id="username-feedback" class=""></small>
	</div>
	<div id="password-form" class="form-group col-lg-12">
		<label>Password</label>
		<input id="login-password" type="password" name="pass" placeholder="Password">
		<small id="password-feedback" class=""></small>
	</div>
	<input type="submit" name="login" value="Login">
</form>

{{db_display}}
{{> footer }}