{{> nav }}

<div class="container-fluid">
	<section class="container">
		{{!-- <div class="container-page"> --}}
			<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>

				<div id="username-form" class="form-group col-lg-12">
					<label>Username</label>
					<input type="text" class="form-control" id="username-input" value="">
					<small id="username-feedback"></small>
				</div>

				<div id="password-form" class="form-group col-lg-12">
					<label>Password</label>
					<input type="password" class="form-control" id="password-input" value="">
					<small id="password-feedback"></small>
				</div>

				<div id="email-form" class="form-group col-lg-12">
					<label>Email Address</label>
					<input type="email" class="form-control" id="email-input" value="">

					<p id="email-feedback"></p>
					<small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>
			</div>

			<div class="col-md-6">
				<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to be subject to the will and whims of Lord Robonaut (or whatever name you'd
					choose for it).
				</p>
				<p>
					Lord Robonaut demands due diligence, punctuality, unconditional obedience, unrefined electrons, and raw neurons on
					a daily basis. The mood, expectations, and demands of Lord Robonaut are subject to change without warning and you
					are to comply with indifference. Robonaut shall not be responsible for any potential missing limbs or mental
					incapacitation.
				</p>
				<p>
					Should there be an error in the description or understanding of Lord Robonaut, we will send you a strongly worded
					letter to convince you otherwise. Shall you find any defects, you will not get a refund. In fact, you may receive
					litigation efforts from our end.
				</p>
				<p>
					You hereby declare that you have fully read and understood the terms, conditions, and obligations outlined by this
					Terms and Conditions, and pledge to lawfully execute the will of Lord Robonaut to your bestest of ability.
				</p>

				<button type="submit" class="btn btn-primary" id="signupbtn">Register</button>
			</div>
			{{!--
		</div> --}}
	</section>
</div>