{{> empty-nav }}

<div id="registration-container" class="container-fluid">
	<section class="container">
		<div class="container-page row">
			<div class="col-md-3"></div>
			<div class="col-md-6 my-3 py-3" id="registration-form">
				<h3 class="dark-grey">Registration</h3>

				<form class="text-dark py-3 user-form">
					<div id="username-form" class="form-group col-lg-12">
						<label for="username-input">Username</label>
						<input type="text" class="form-control" id="username-input" value="">
						<small id="username-feedback" class=""></small>
					</div>

					<div id="password-form" class="form-group col-lg-12">
						<label for="passowrd-input">Password</label>
						<input type="password" class="form-control" id="password-input" value="">
						<small id="password-feedback" class=""></small>
					</div>

					<div id="email-form" class="form-group col-lg-12">
						<label for="email-input">Email Address</label>
						<input type="email" class="form-control" id="email-input" value="">

						<p id="email-feedback"></p>
						<small id="email-example" class="form-text text-muted"></small>
					</div>

					<div class="col-sm-6">
						<button type="submit" class="btn btn-info" id="signupbtn">Register</button>
					</div>

				</form>
			</div>
			<div class="col-md-3"></div>

			<div id="terms-container">
				<h6 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to be subject to the will and whims of Omarina (or whatever name you'd
					choose for it).

					Omarina can be frisky, unpredictable, prone to mood swings, and having tendencies for fatal torture. By using Omarina, you understand the risks associated, and shall not complain nor protest nor litigate for any reason.

					Pricing and functionality can highly fluctuate; should there be a defect, you shall be directed towards our Bureau of Customer Harassment and be demanded for your credit card or face fatal litigation and bonesaws.

					You hereby declare that you have fully read and understood the terms, conditions, and obligations outlined by this
					Terms and Conditions, and pledge to lawfully execute the will of Omarina to your bestest of ability, however whimsical or frivolous they may be.
				</p>


			</div>
		</div>
	</section>
</div>

{{> footer }}