<h1>Robot Control</h1>
<canvas id="robotCanvas" width="200" height="100"></canvas>
<section id="controlPanel">
    <h2>Controls</h2>
    <button>Up</button>
    <button>Down</button>
    <button>Left</button>
    <button>Right</button>
</section>